.btn {
  padding: 1rem;
  border: none;
  margin-right: 1rem;

  &--primary {
    color: #fff;
    background-color: $color-button-primary;
    border-radius: 4px;

    &:hover,
    &:active {
      background-color: lighten($color: $color-button-primary, $amount: 10%);
    }
  }

  &--full {
    width: 100%;
  }

  .material-icons {
    vertical-align: middle;
  }
}
