.form-container {
  width: 100%;
  border: 1px solid $color-background-3;
  border-radius: 4px;
  background-color: $color-background-1;
  box-shadow: 0 0 1rem 0.5rem black;
  padding: 1rem;

  &__header {
    font-size: 3rem;
    color: $color-font-primary;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.form {
  color: $color-font-primary;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: minmax(100px, max-content) 1fr;
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;

  &__input {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #a9bdbd;
    color: #495057;
    padding: 0.5rem 1rem;

    &:focus {
      border: 1px solid $color-button-primary;
    }
  }

  &__label {
    font-size: 1.7rem;
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: '';
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
