<div [ngClass]="{sidenav: true, open: isOpen}">
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
  <div>hello fsdaf fdsf sadf sdf sdf sdaf asdfsad</div>
</div>