<div class="modal">
  <div class="form-container">
    <h2 class="form-container__header">{{ id === '' ? 'Add transfer' : 'Edit transfer'}}</h2>
    <hr>
    <form [formGroup]="transferForm"
          (ngSubmit)="onSubmit()">
      <div class="form">
        <input type="text"
               class="hidden"
               id="transfer-id"
               formControlName="id">
        <label for="transfer-date"
               class="form__label">Date</label>
        <input type="date"
               class="form__input"
               id="transfer-date"
               formControlName="date">
        <label for="transfer-from"
               class="form__label">Account From</label>
        <select formControlName="from">
          <option *ngFor="let account of accounts"
                  value="{{ account.name }}&{{ account.id }}">{{ account.name }}</option>
        </select>
        <label for="transfer-to"
               class="form__label">Account To</label>
        <select formControlName="to">
          <option *ngFor="let account of accounts"
                  value="{{ account.name }}&{{ account.id }}">{{ account.name }}</option>
        </select>
        <label for="transfer-amount"
               class="form__label">Amount</label>
        <input type="number"
               class="form__input"
               id="transfer-amount"
               formControlName="amount">
        <label for="transfer-category"
               class="form__label">Category</label>
        <input type="text"
               class="form__input"
               id="transfer-category"
               formControlName="category">
        <label for="transfer-comment"
               class="form__label">Comment</label>
        <input type="text"
               class="form__input"
               id="transfer-comment"
               formControlName="comment">
      </div>
      <button type="submit"
              class="btn btn--primary btn--full mar-top-10">Submit</button>
    </form>
  </div>
</div>