<ul class="income-container">
  <li class="income__row income__row--header">
    <span>Date</span>
    <span>Account</span>
    <span>Amount</span>
    <span>Category</span>
    <span>Comment</span>
    <span></span>
  </li>
  <li class="income__row income__row--item"
      *ngFor="let income of incomes">
    <span>{{ income.date | date }}</span>
    <span>{{ income.to.name }}</span>
    <span>{{ income.amount | forint }}</span>
    <span>{{ income.category.name }}</span>
    <span>{{ income.comment }}</span>
    <span>
      <i class="material-icons">delete</i>
      <i class="material-icons">edit</i>
    </span>
  </li>
</ul>