<table class="table">
  <thead class="table__head">
    <tr class="table__row">
      <td>Date</td>
      <td>To</td>
      <td>Amount</td>
      <td>Category</td>
      <td>Comment</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let income of incomes"
        class="table__row">
      <td>{{ income.date }}</td>
      <!-- <td>{{ income.to.name }}</td> -->
      <td class="text-right">{{ income.amount | forint }}</td>
      <!-- <td>{{ income.category.name }}</td> -->
      <td>{{ income.comment }}</td>
      <td>
        <i class="material-icons clickable-danger"
           (click)="onDelete(income.id)">delete</i>
        <i class="material-icons clickable-warning"
           (click)="onEdit(income.id)">edit</i>
      </td>
    </tr>
  </tbody>
</table>