.hidden {
  display: none;
}
.show {
  display: block;
}

.mar-top-10 {
  margin-top: 1rem;
}

.text-right {
  text-align: right;
}

.material-icons {
  line-height: 1.6;
  user-select: none;
}

.clickable-danger {
  &:hover {
    color: $color-danger;
    cursor: pointer;
  }
}

.clickable-warning {
  &:hover {
    color: $color-warning;
    cursor: pointer;
  }
}
