$color-background-1: #073642;
$color-background-2: #002b36;
$color-background-3: #2b4b54;
$color-background-4: #094959;

$color-font-primary: #839496;
$color-font-secondary: rgba(255, 255, 255, 0.7);
$color-font-tertiary: rgba(255, 255, 255, 0.5);

$header-height: 6.4rem;
$sidenav-width: 30rem;
$sidenav-width-mobile: 80%;

$color-button-primary: #42a198;

$color-white: #fff;
$color-primary: #b58900;
$color-secondary: #839496;
$color-success: #2aa198;
$color-info: #268bd2;
$color-warning: #cb4b16;
$color-danger: #d33682;
$color-light: #fdf6e3;
$color-dark: #073642;
