$color-background-primary: #073642;
$color-background-secondary: #002b36;
$color-background-tertiary: #2b4b54;

$color-font-primary: #839496;
$color-font-secondary: rgba(255, 255, 255, 0.7);
$color-font-tertiary: rgba(255, 255, 255, 0.5);

$header-height: 6.4rem;
$sidenav-width: 30rem;
$sidenav-width-mobile: 80%;

$color-button-primary: #42a198;
