<ul class="transaction-container">
  <li class="transaction__row transaction__row--header">
    <span class="transaction-date">Date</span>
    <span class="transaction-acc">From</span>
    <span class="transaction-acc">To</span>
    <span class="transaction-amount">Amount</span>
    <span class="transaction-cat">Category</span>
    <span class="transaction-comm">Comment</span>
    <span class="transaction-btns"></span>
  </li>
  <li class="transaction__row transaction__row--income"
      *ngFor="let transfer of transfers">
    <span class="transaction-date">{{ transfer.date | date }}</span>
    <span class="transaction-acc">{{ transfer.from.name }}</span>
    <span class="transaction-acc">{{ transfer.to.name }}</span>
    <span class="transaction-amount">{{ transfer.amount | forint }}</span>
    <span class="transaction-cat">{{ transfer.category.name }}</span>
    <span class="transaction-comm">{{ transfer.comment }}</span>
    <span class="transaction-btns">
      <i class="material-icons">delete</i>
      <i class="material-icons">edit</i>
    </span>
  </li>
</ul>