<table class="table">
  <thead class="table__head">
    <tr class="table__row">
      <td>Date</td>
      <td>From</td>
      <td>To</td>
      <td>Amount</td>
      <td>Category</td>
      <td>Comment</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transfer of transfers"
        class="table__row">
      <td>{{ transfer.date | date }}</td>
      <td>{{ transfer.to.name }}</td>
      <td>{{ transfer.from.name }}</td>
      <td class="text-right">{{ transfer.amount | forint }}</td>
      <td>{{ transfer.category.name }}</td>
      <td>{{ transfer.comment }}</td>
      <td>
        <i class="material-icons">delete</i>
        <i class="material-icons">edit</i>
      </td>
    </tr>
  </tbody>
</table>