<app-header></app-header>
<div class="container">
  <app-sidenav [ngClass]="{sidenav: true, open: isSidenavOpen}"></app-sidenav>
  <main class="content">
    <router-outlet></router-outlet>
    <button class="btn btn--primary btn--rounded btn--icon"
            (click)="initModal('Income')">
      <i class="material-icons">
        account_balance
      </i>
      Add Income
    </button>
    <button class="btn btn--primary btn--rounded btn--icon"
            (click)="initModal('Cost')">
      <i class="material-icons">
        attach_money
      </i>
      Add Cost
    </button>
    <button class="btn btn--primary btn--rounded btn--icon"
            (click)="initModal('Transfer')">
      <i class="material-icons">
        swap_vert
      </i>
      Add Transfer
    </button>
    <app-income-list></app-income-list>
    <app-cost-list></app-cost-list>
    <!-- <app-transfer-list></app-transfer-list> -->
  </main>
</div>
<div id="modal-container"
     class="hidden"></div>
<div id="overlay"
     (click)="removeModal()"
     class="hidden"></div>