<app-header></app-header>
<div class="container">
  <app-sidenav [ngClass]="{sidenav: true, open: isSidenavOpen}"></app-sidenav>
  <main class="content">
    <button class="btn btn--primary btn--rounded"
            (click)="initLoginModal()">
      <i class="material-icons">
        account_balance
      </i>
      Add Income
    </button>
    <button class="btn btn--primary btn--rounded"
            (click)="initLoginModal()">
      <i class="material-icons">
        attach_money
      </i>
      Add Cost
    </button>
    <button class="btn btn--primary btn--rounded"
            (click)="initLoginModal()">
      <i class="material-icons">
        swap_vert
      </i>
      Add Transfer
    </button>
    <router-outlet></router-outlet>
    <app-income-list></app-income-list>
  </main>
</div>
<div id="modal-container"
     class="hidden"></div>
<div id="overlay"
     (click)="removeModal()"
     class="hidden"></div>