@import 'styles/abstracts/variables';
@import 'styles/abstracts/utilities';

@import 'styles/base/base';
@import 'styles/base/layout';

@import 'styles/components/button';
@import 'styles/components/form';
@import 'styles/components/header';
@import 'styles/components/modal';
@import 'styles/components/sidenav';
@import 'styles/components/transaction';
@import 'styles/components/table';

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
